name: CI/CD

on:
  push:
    branches:
      - main
env:
  PROJECT_ID: infinite-rope-385620
  VM_NAME: instance-1
  VM_ZONE: europe-west9-a
  GCR_HOSTNAME: gcr.io

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v0.2.1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Login to Google Container Registry
      run: gcloud auth configure-docker

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ env.GCR_HOSTNAME }}/${{ env.PROJECT_ID }}/airflow_for_michel:${{ github.sha }}

    - name: Deploy to Google Cloud VM
      run: |
        gcloud compute ssh ${{ env.VM_NAME }} --zone ${{ env.VM_ZONE }} --command "sudo gcloud auth configure-docker"
        gcloud compute ssh ${{ env.VM_NAME }} --zone ${{ env.VM_ZONE }} --command "sudo docker pull ${{ env.GCR_HOSTNAME }}/${{ env.PROJECT_ID }}/your-repo:${{ github.sha }}"
        gcloud compute ssh ${{ env.VM_NAME }} --zone ${{ env.VM_ZONE }} --command "wget https://github.com/SeptembreAlexandre/Airflow_for_michel/blob/main/docker-compose.yml"
        gcloud compute ssh ${{ env.VM_NAME }} --zone ${{ env.VM_ZONE }} --command "IMAGE_TAG=${{ github.sha }} sudo -E docker-compose up -d --build"
